section {
    display: flex;
    justify-content: center;
}

.statisticsMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1320px;
}

.statisticsList {
    display: flex;
    justify-content: space-between;
}

.statisticsList img {
    border-radius: 50%;
    padding: 10px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 99;
}

.statisticsList p {
    text-align: center;
    margin-top: 20px;
}

.statistic {
    position: relative;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

.statistic:before {
    content: "";
    width: 50%;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 55px;
    left: 0;
}

.statistic:after {
    content: "";
    width: 50%;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 55px;
    right: 0;
}

.statistic:first-child:before{
    content: none;
}

.statistic:last-child:after {
    content: none;
}

.advantagesMain {
    width: 1320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantagesList {
    display: flex;
    flex-direction: column;
}

.advantage {
    display: flex;
    align-items: center;
    padding: 30px 0;
    position: relative;
}

.advantage p {
    font-size: 25px;
    margin-left: 50px;
}

.advantage img {
    border-radius: 50%;
    padding: 5px;
    border: 3px solid black;
    background-color: white;
    z-index: 99;
    position: relative;
}

.rightAdvantage {
    margin-left: 110px;
}

.leftAdvantage:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 3px;
    background-color: black;
    transform: rotate(60deg);
    bottom: 0;
    left: 55px;
}

.rightAdvantagesContent:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 3px;
    background-color: black;
    transform: rotate(120deg);
    bottom: 0;
    left: -55px;
}

.algorithmsContent {
    justify-content: center;
}

.MainText {
    text-align: center;
}

@media (max-device-width: 1400px) {
    .statisticsMain {
        width: 1140px;
    }

    .advantagesMain {
        width: 1140px;
    }

    .statistic {
        padding: 0 15px;
        max-width: 300px;
    }

    .rightAdvantage {
        width: calc(1140px - 110px);
    }
}

@media (max-device-width: 1200px) {
    .statisticsMain {
        width: 960px;
    }

    .advantagesMain {
        width: 960px;
    }

    .statistic {
        padding: 0 10px;
        max-width: 250px;
    }

    .statistic img {
        width: 70px;
    }

    .statistic:before {
        top: 45px;
    }

    .statistic:after {
        top: 45px;
    }

    .rightAdvantage {
        width: calc(960px - 110px);
    }
}

@media (max-device-width: 992px) {
    .statisticsMain {
        width: 720px;
    }

    .advantagesMain {
        width: 720px;
    }

    .statistic {
        max-width: 200px;
    }

    .rightAdvantage {
        width: calc(720px - 110px);
    }

    .leftAdvantage:before {
        width: 150px;
    }

    .rightAdvantagesContent:before {
        width: 150px;
    }
}

@media (max-device-width: 768px) {
    .statisticsMain {
        width: 100%;
    }

    .advantagesMain {
        width: 100%;
    }

    .statistic {
        max-width: unset;
        margin: 30px 10px;
    }

    .statistic p {
        font-size: 25px;
    }

    .statisticsList {
        flex-direction: column;
    }

    .statistic:before {
        content: none;
    }

    .statistic:after {
        content: none;
    }

    .advantage {
        margin: 0 10px;
    }

    .rightAdvantage {
        left: 0;
    }

    .leftAdvantage:before {
        transform: rotate(90deg);
        left: -15px;
    }

    .rightAdvantagesContent:before {
        transform: rotate(90deg);
        left: -15px;
    }

    .rightAdvantage {
        width: unset;
    }
}

@media (max-device-width: 430px) {
    html {
        overflow-wrap: anywhere;
    }

    .leftAdvantage:before {
        content: none;
    }

    .rightAdvantagesContent:before {
        content: none;
    }

    .advantage {
        flex-direction: column;
    }

    .advantage p {
        margin: 10px 0;
        text-align: center;
    }
}

